
<header>
    <h2>Ajouter un participant</h2>
  </header>
  <form
    #participantItemForm="ngForm"
    (ngSubmit)="addparticipant(participantItemForm.value)"
  >
    <ul>
      <li>
        <label for="name">Prénom</label>
        <input type="text" id="name" required name="name" ngModel />
      </li>
      <li>
        <label for="lastname">Nom</label>
        <input type="text" id="lastname" required name="lastname" ngModel />
      </li>
      <li>
        <label for="adress">Adresse</label>
        <input type="text" id="adress" required name="adress" ngModel />
      </li>
      <li>
        <label for="societe">Entreprise</label>
        <input type="text" id="societe" required name="societe" ngModel />
      </li>
      <li>
        <label for="poste">Poste</label>
        <input type="text" id="poste" required name="poste" ngModel />
      </li>
      <li>
        <label for="email">Email</label>
        <input type="email" id="email" required name="email" ngModel />
      </li>
    </ul>
    <button type="submit">Enregistrer</button>
  </form>
  